body{
    background-image:url(../img/blog-background.svg);
    background-size:cover;
}

#theFlow{
    margin-left: 15%;
    margin-right: 15%;
    display:block;
}

.inside-flow{
    box-sizing:border-box;
    display:block;
    width:394px;
    padding:50px;
    background-color:#FFFFFFE0;
    border-radius:27px;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.20); 
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.20);
}

#title{
    box-shadow:none;
    padding:0%;
    background-color:#FFFFFF00;
}

#title h1{
    font-family:Futura, Helvetica, sans-serif;
    font-size:100px;
    margin:0%;
    line-height: 100px;
}

.left-row{
    float:left;
    margin:20px 20px 20px 30px;
}

.right-row{
    float:right;
    margin:20px 30px 20px 0px;
}

.content-image{
    display:block;
    float:left;
    width:60px;
    height:60px;
    border-radius:15px;
    background-image: url(../img/grapefruit-icon.svg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}

.content-header{
    display:block;
    float:left;
    clear:right;
    font-family:'Source Han Sans', Arial, sans-serif;
}

hr {
    border: none;
    height: 5px;
    /* Set the hr color */
    color: #C4C4C4; /* old IE */
    background-color: #C4C4C4; /* Modern Browsers */
    border-radius: 5px;
}

.content-main-header{
    margin: -1px 5px -2px 20px;
    color:#000000;
    font-weight: 900;
}

.content-sub-header{
    margin: 0 5px 5px 20px;
    color:#9F9F9F;
    font-weight:700;
}

.content-passage-with-hr{
    margin-top: 10px;
    display:block;
    float:left;
}

.content-pessage{
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:6;
    font-family:'Source Han Sans HC', Arial, sans-serif;
}